ABOUT-NLS
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.cache
config.cache-env
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
pkgbuild/*.tar.xz
.dirstamp
.libs
.deps
*.lo
*.o
*.la
stamp-h1
Module_Common*
